# Dependencies
node_modules/

# Environment Variables
.env
.env.*
!.env.example

# Build output
client/build/
build/

# Uploads
server/public/uploads/

# Logs
*.log
npm-debug.log*

# System files
.DS_Store
Thumbs.db